<app-header></app-header>
<mat-card class="manage-auto-policies-card">
<mat-card-header>
    <mat-card-title>Manage Auto Policies</mat-card-title>
</mat-card-header>
<mat-card-content>
    <table mat-table [dataSource]="autoPolicies" class="mat-elevation-z8" multiTemplateDataRows>
        
        <ng-container matColumnDef="vehicleMake">
        <th mat-header-cell *matHeaderCellDef> Vehicle Make </th>
        <td mat-cell *matCellDef="let policy"> {{policy.vehicleMake}} </td>
        </ng-container>

        <ng-container matColumnDef="vehicleModel">
        <th mat-header-cell *matHeaderCellDef> Vehicle Model </th>
        <td mat-cell *matCellDef="let policy"> {{policy.vehicleModel}} </td>
        </ng-container>


        <!-- Driver Age Column -->
        <ng-container matColumnDef="driverAge">
        <th mat-header-cell *matHeaderCellDef> Driver Age </th>
        <td mat-cell *matCellDef="let policy"> {{policy.driverAge}} </td>
        </ng-container>

        <!-- Accident Count Column -->
        <ng-container matColumnDef="accidentCount">
        <th mat-header-cell *matHeaderCellDef> Accident Count </th>
        <td mat-cell *matCellDef="let policy"> {{policy.accidentCount}} </td>
        </ng-container>

        <!-- Vehicle Age Column -->
        <ng-container matColumnDef="vehicleYear">
        <th mat-header-cell *matHeaderCellDef> Vehicle Year</th>
        <td mat-cell *matCellDef="let policy"> {{policy.vehicleYear}} </td>
        </ng-container>

        <!-- Premium Column -->
        <ng-container matColumnDef="premium">
        <th mat-header-cell *matHeaderCellDef> Premium </th>
        <td mat-cell *matCellDef="let policy"> {{policy.premium}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef> Start Date </th>
        <td mat-cell *matCellDef="let policy"> {{policy.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef> End Date </th>
        <td mat-cell *matCellDef="let policy"> {{policy.endDate}} </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let policy">
            <button mat-button color="primary" (click)="renewPolicy(policy)">Renew</button>
            <button mat-button color="warn" (click)="cancelPolicy(policy)">Cancel</button>
        </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsAuto"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsAuto;"></tr>
    </table>
    </mat-card-content>
</mat-card>

<mat-card class="manage-auto-policies-card">
    <mat-card-header>
        <mat-card-title>Manage Home Policies</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="homePolicies" class="mat-elevation-z8" multiTemplateDataRows>

            <ng-container matColumnDef="homeValue">
            <th mat-header-cell *matHeaderCellDef> Home Value </th>
            <td mat-cell *matCellDef="let policy"> {{policy.homeValue}} </td>
            </ng-container>

            <ng-container matColumnDef="homeType">
            <th mat-header-cell *matHeaderCellDef> Home Type </th>
            <td mat-cell *matCellDef="let policy"> {{policy.homeType}} </td>
            </ng-container>
            
            <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let policy"> {{policy.location}} </td>
            </ng-container>
    
            <ng-container matColumnDef="heatingType">
            <th mat-header-cell *matHeaderCellDef> Heating Type</th>
            <td mat-cell *matCellDef="let policy"> {{policy.heatingType}} </td>
            </ng-container>
    
            <ng-container matColumnDef="homeAge">
            <th mat-header-cell *matHeaderCellDef> Home Age </th>
            <td mat-cell *matCellDef="let policy"> {{policy.homeAge}} </td>
            </ng-container>
    
            <ng-container matColumnDef="premium">
            <th mat-header-cell *matHeaderCellDef> Premium </th>
            <td mat-cell *matCellDef="let policy"> {{policy.premium}} </td>
            </ng-container>

            <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let policy"> {{policy.startDate}} </td>
            </ng-container>

            <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef> End Date </th>
            <td mat-cell *matCellDef="let policy"> {{policy.endDate}} </td>
            </ng-container>
    
            <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let policy">
                <button mat-button color="primary" (click)="renewPolicy(policy)">Renew</button>
                <button mat-button color="warn" (click)="cancelPolicy(policy)">Cancel</button>
            </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsHome"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsHome;"></tr>
        </table>
        </mat-card-content>
    </mat-card>
      