<div *ngIf="isChildRoute()" class="back-btn-container">
  <button mat-button routerLink="/services" class="back-btn">
    <mat-icon>arrow_back</mat-icon>
    <p>Back To Services</p>
  </button>
</div>

<mat-card class="auto-policy-card">
    <mat-card-header>
      <mat-card-title>Auto Policy Quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Driver Age</mat-label>
          <input matInput placeholder="Enter driver age" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Accident Count</mat-label>
          <input matInput placeholder="Enter accident count" type="number">
        </mat-form-field>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Vehicle Age</mat-label>
          <input matInput placeholder="Enter vehicle age" type="number">
        </mat-form-field>
        <button mat-raised-button color="primary" class="calculate-button">Get Quote</button>
      </form>
    </mat-card-content>
  </mat-card>
  