<div *ngIf="isChildRoute()" class="back-btn-container">
  <button mat-button routerLink="/services" class="back-btn">
    <mat-icon>arrow_back</mat-icon>
    <p>Back To Services</p>
  </button>
</div>

<mat-card class="auto-policy-card">
    <mat-card-header>
      <mat-card-title class="title" >Home Policy Quote</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="homeForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Home Type</mat-label>
          <input matInput placeholder="Enter Home Type" formControlName="homeType">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Heating Type</mat-label>
          <mat-select formControlName="heatingType">
            <mat-option value="oil">Oil</mat-option>
            <mat-option value="electric">Electric</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Location</mat-label>
          <input matInput placeholder="Enter Location" formControlName="location">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Home Age</mat-label>
          <input matInput placeholder="Enter Age of Home" type="number" formControlName="age">
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Home Value</mat-label>
          <input matInput placeholder="Enter Value of Home" type="number" formControlName="homeValue">
        </mat-form-field>

        <button mat-raised-button color="primary" class="calculate-button">Get Quote</button>
      </form>
    </mat-card-content>
  </mat-card>





