

<div class="nav-container">
  <div class="nav-row">
    <button class="nav-btn"  mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</button>
    <button class="nav-btn" mat-button routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</button>
    <button class="nav-btn" mat-button routerLink="/service1" >Service 1</button>
    <button class="nav-btn" mat-button routerLink="/service2">Service 2</button>
    <button class="nav-btn" mat-button routerLink="/service3">Service 3</button>
    <button class="nav-btn" mat-button routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</button>
  </div>
</div>

