#banner-container {
    background-color: rgb(14, 147, 249);
    display: flex;
    justify-content: space-between;
}
#banner-img {
    height: 10rem;
}

.settings-container {
    background-color: rgba(254, 255, 240, 0);
   
}

#settings-btn {
    background-color: rgba(240, 248, 255, 0);
    border: none;
    height: auto;
    
}

#settings-icon {
    padding: 5px;
    font-size: 25px;
    line-height: 25px;
}
#settings-icon:hover {
    font-size: 28px;
    line-height: 28px;
    cursor: pointer;
}


  