<div id="banner-container">
    <img id="banner-img" src="/images/taylor-insurance-logo-big-blue.png" alt="Logo for Taylor Insurance. Crest with Taylor insurance at the top over an orange sky fading to red as it meets the sun on the horizon. Trees silouheted against the sunrise. Beneath are flowing cartoonish nature waves.">

    <div class="settings-container">
        <button mat-button id="login-btn" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"> LOG OUT </button>

        <button id="settings-btn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon id="settings-icon">settings</mat-icon>
        </button>

        <mat-menu #menu="matMenu">

          <button mat-menu-item routerLink="dashboard" routerLinkActive="active"> Admin</button>
          <button mat-menu-item routerLink="/" routerLinkActive="">Sign out</button>
        </mat-menu>
    </div>

</div>
